@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<h1>Contact With Us</h1>
<div class="row">
    <div class="col-md-4 contact-info">
        <div>
            <i class="fas fa-map-marker-alt"></i> Address: 123 Kensington, London, UK
        </div>
        <div>
            <i class="fas fa-phone"></i> Phone: 077-123-45678
        </div>
        <div>
            <i class="fas fa-envelope"></i> E-mail: info@ideamedia.com
        </div>
    </div>
    <div class="col-md-8">
        <h2>Send Us Message</h2>
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Your message"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Phone">
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>
<div class="map mt-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48315.15927653679!2d-74.0060152!3d40.7127753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c250bd1b63f13f%3A0xe7a9f10e34a2d200!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1600000000000!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
