@{
    ViewBag.Title = "404 Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100 text-center">
    <div class="display-1 text-danger">404</div>
    <div class="lead mb-4">
        ERROR PAGE!<br>
        Sorry! This Page is Not Available!
    </div>
    <a href="/" class="btn btn-primary btn-lg">Go To Home Page</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
