
@{
    ViewBag.Title = "Rental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card:hover {
            transform: translateY(-10px); /* Moves the card up by 10px on hover */
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow on hover */
        }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<br />
<div class="row">
    <aside class="col-md-3 mb-4">
        <div class="card mb-4">
            <div class="card-header">Categories</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><input type="checkbox"> All</li>
                <li class="list-group-item"><input type="checkbox"> Handmade Arts  (6)</li>
                <li class="list-group-item"><input type="checkbox"> Handicrafts (10)</li>
                <li class="list-group-item"><input type="checkbox"> Fashion & Styling  (5)</li>
                <li class="list-group-item"><input type="checkbox"> Tech Repair  (5)</li>
                <li class="list-group-item"><input type="checkbox"> Visual Arts  (6)</li>
                <li class="list-group-item"><input type="checkbox"> Beauty & Makeup   (5)</li>
                <li class="list-group-item"><input type="checkbox"> Culinary Arts  (5)</li>
                <li class="list-group-item"><input type="checkbox">  Home & Garden  (5)</li>
            </ul>
        </div>
        <div class="card mb-4">
            <div class="card-header">Language</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><input type="checkbox"> Spanish (10)</li>
                <li class="list-group-item"><input type="checkbox"> English (10)</li>
            </ul>
        </div>
        <div class="card mb-4">
            <div class="card-header">Price</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><input type="radio" name="price"> Under $10</li>
                <li class="list-group-item"><input type="radio" name="price"> $10 - $50</li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">Ratings</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><input type="checkbox"> <span>⭐⭐⭐⭐⭐</span> (3)</li>
                <li class="list-group-item"><input type="checkbox"> <span>⭐⭐⭐⭐</span> (2)</li>
                <li class="list-group-item"><input type="checkbox"> <span>⭐⭐⭐</span> (2)</li>
                <li class="list-group-item"><input type="checkbox"> <span>⭐⭐</span> (1)</li>
                <li class="list-group-item"><input type="checkbox"> <span>⭐</span> (1)</li>
            </ul>
        </div>
    </aside>
    <section class="col-md-9">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/CrystalBeads.png" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Crystal Beads</h5>
                        <p class="card-text">$5.00 - $20.00</p>
                        <p class="card-text">⭐⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/CopperWire.png" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Copper Wire</h5>
                        <p class="card-text">$15.00</p>
                        <p class="card-text">⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/KnittingMachine.png" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Knitting Machine</h5>
                        <p class="card-text">$150.00</p>
                        <p class="card-text">⭐⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/Ribbons,measuring,tape, and,scissors.png" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Ribbons, measuring tape, and scissors</h5>
                        <p class="card-text">$20.00</p>
                        <p class="card-text">⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/Men'sTeddy.jpg" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Men's Teddy</h5>
                        <p class="card-text">$40.00</p>
                        <p class="card-text">⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/Fashion Design.png" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Fashion Design</h5>
                        <p class="card-text">$30.00</p>
                        <p class="card-text">⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/Resin Crafting Complete Equipment.jpg" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Resin Crafting Complete Equipment</h5>
                        <p class="card-text">$12.00</p>
                        <p class="card-text">⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/Soap making complete equipment.png" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Soap Making Colorants</h5>
                        <p class="card-text">$25.00</p>
                        <p class="card-text">⭐⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/image/Makeup Artistry Vending Equipment.png" />

                    <div class="card-body text-center">
                        <h5 class="card-title">Makeup Artistry Vending Equipment</h5>
                        <p class="card-text">$35.00</p>
                        <p class="card-text">⭐</p>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link bg-warning text-white" href="#" tabindex="-1">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link bg-warning text-white border-warning" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-warning text-white border-warning" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-warning text-white border-warning" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-warning text-white" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    </section>
</div>
